<ion-view title="Bealey Ave" id="page8" class=" hospital">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/y2bSJw48SZijXjxqEWM9_After-Hours-Radiology-Building.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="bealeyAve-heading2" style="color:#000000;" class=" ">Bealey Ave</h1>
        <p id="bealeyAve-markdown2" style="color:#000000;" class=" ">Physical: Cnr Bealey Avenue &amp; Colombo Street CHRISTCHURCH 8011
            <br>Phone: 03 379 0770
            <br>Fax: 03 365 9422
            <br>Email: craig.burton@prg.co.nz
            <br>Hours: Monday - Sunday 8:00am - 11:00pm</p>
        <button id="bealeyAve-button18" class=" button button-dark button-small ">Chinese</button>
        <button id="bealeyAve-button19" class=" button button-dark button-small ">French</button>
        <button id="bealeyAve-button20" class=" button button-dark button-small ">Maori</button>
        <a ui-sref="map2.navigation" id="bealeyAve-button6" class=" button button-balanced  button-block ">Take Me There</a>
    </ion-content>
</ion-view>