<ion-view title="Emergency" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="emergency-heading3" style="color:#000000;text-align:center;" class=" ">You should go to Emergency</h1>
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <a ui-sref="map2.calling" id="emergency-button1" style="font-weight:600;font-size:33px;" class=" button button-balanced button-large button-block ">Call 111 Now</a>
        <div class="spacer" style="width: 300px; height: 62px;"></div>
        <a ui-sref="map2.navigation" id="emergency-button7" style="font-weight:600;font-size:33px;" class=" button button-balanced button-large button-block ">Take Me There</a>
    </ion-content>
</ion-view>