<ion-view title="My Details" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="myDetails-form1" class="list ">
            <label class="item item-input " id="myDetails-input1">
                <span class="input-label">Name</span>
                <input type="text" placeholder="John Doe">
            </label>
            <label class="item item-input " id="myDetails-input8">
                <span class="input-label">NHI #</span>
                <input type="text" placeholder="123 456 789">
            </label>
            <label class="item item-input item-stacked-label " id="myDetails-input13">
                <span class="input-label">Community Services Card</span>
                <input type="text" placeholder="123 456 789">
            </label>
            <ion-item class="item-divider " id="myDetails-list-item-divider8">Medical Concerns</ion-item>
            <label class="item item-input " id="myDetails-input9">
                <span class="input-label">Allergies</span>
                <input type="text" placeholder="Panadol">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="myDetails-toggle1" class=" ">Diabetic</ion-toggle>
            <ion-item class="item-divider " id="myDetails-list-item-divider9">Contact</ion-item>
            <label class="item item-input " id="myDetails-input7">
                <span class="input-label">Home Phone</span>
                <input type="text" placeholder="03 1234567">
            </label>
            <label class="item item-input item-stacked-label " id="myDetails-input6">
                <span class="input-label">Address</span>
                <input type="text" placeholder="10 Downing St, London">
            </label>
            <ion-item class="item-divider " id="myDetails-list-item-divider1">Next of Kin</ion-item>
            <label class="item item-input " id="myDetails-input2">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Jane Doe">
            </label>
            <label class="item item-input " id="myDetails-input11">
                <span class="input-label">Phone</span>
                <input type="text" placeholder="03 1234567">
            </label>
            <label class="item item-input " id="myDetails-input12">
                <span class="input-label">Relationship</span>
                <input type="text" placeholder="Wife">
            </label>
            <ion-item class="item-divider " id="myDetails-list-item-divider7">Other</ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="myDetails-toggle3" class=" ">Organ Donor</ion-toggle>
        </form>
    </ion-content>
</ion-view>