<ion-view title="Urgent" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 72px;"></div>
        <p id="urgent-markdown9" style="color:#000000;font-size:20px;text-align:center;" class=" ">You should head to your nearest medical center now.</p>
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <a ui-sref="map2.navigation" id="urgent-button17" class=" button button-positive button-large button-block ">Take Me There</a>
    </ion-content>
</ion-view>